<!DOCTYPE html>
<html>
<head data-th-replace="~{commons/header::common_header(title='客户小票查询')}"></head>
<body>

<header data-th-replace="~{commons/nav::common_nav}"></header>

<div class="container" >

  <h6 class="text-info mt-3">客户小票查询</h6>

    <form class="row g-3 bg-light mt-3 " novalidate autocomplete="on" target="_blank" 
          action="/customerReceipt/query" method="post" name="customerReceiptQueryBean">
			
			<div class="form-floating col-md-4">
		      <input type="text" class="form-control" id="market_name" name="marketName" list="marketNameList" 
		             placeholder="p" aria-describedby="market_name" >
		      <label for="market_name" >商店名称</label>
		      <datalist id="marketNameList" class="datalist">
                <option value="Aldi">
                <option value="Edeka">
                <option value="Lidl">
                <option value="Rewe">
                <option value="Rossman">
                <option value="DM">
                <option value="Anh Linh Asiamarkt">
                <option value="NP">
              </datalist>
            </div>
			<div class="form-floating  col-md-4">
				<input type="text" class="form-control" id="terminalId" name="terminalId" placeholder="p" />
				<label for="terminalId" >TerminalId</label> 
			</div>
			<div class="form-floating col-md-4">
				<input type="text" class="form-control" id="paymentMethodE" name="paymentMethodE" placeholder="p" list="paymentMethodEList" />
				<label for="paymentMethodE" >paymentMethodE</label>
				<datalist id="paymentMethodEList" class="datalist">
                  <option value="Cash">Bargeld</option>
                  <option value="GiroCard">Girocard</option>
                  <option value="CreditCard">Kreditkarte</option>
                  <option value="NFC">Kontaktlos</option>
                  <option value="Advance">Vorkasse</option>
                  <option value="Financing">Finanzierung</option>
                  <option value="PayPal">PayPal</option>
                  <option value="Giropay">Giropay</option>
                  <option value="Online">Online</option>
                </datalist>
			</div>
			
			<div class="form-floating col-md-3">
				<input type="number" class="form-control" id="amountV" name="amountV" value="" 
				       placeholder="p" step="0.01"  min="0.00" >
				<label for="amountV" >交易金额von</label>
			</div>
			<div class="form-floating col-md-3">
				<input type="number" class="form-control" id="amountB" name="amountB" value="" 
				       placeholder="p" step="0.01"  min="0.00" >
				<label for="amountB" >交易金额bis</label>
			</div>
			<div class="form-floating col-md-3">
				<input type="datetime-local" class="form-control" id="transactionDateStart" name="transactionDateStart" 
				       value="" placeholder="p" step="1" required>
				<label for="transactionDateStart" >交易日期von</label>
			</div>
			<div class="form-floating col-md-3">
				<input type="datetime-local" class="form-control" id="transactionDateEnd" name="transactionDateEnd" 
				       value="" placeholder="p" step="1" required>
				<label for="transactionDateEnd" >交易日期bis</label>
			</div>
			
			<div class="d-grid gap-2 d-md-flex justify-content-md-center">
			    <button class="btn btn-primary col-md-3" type="reset" >清 空</button>
				<button class="btn btn-primary col-md-3" type="submit">查 询</button>
			</div>
		</form>
    
    
    
    
</div>

<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/jQuery/jquery-3.6.0.js"></script>
<script>
	    $(function(){
		    $("#home_a_text").removeClass("active");
		    $("#navbarDropdown").addClass("active");
	    });
</script>

</body>
</html>